---
layout: default
title: Posts
---

<h1>Posts</h1>
<ul>
{% for post in site.posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <ul>
            {% for label in post.labels %}
            <li>
                <a href="{{ '/posts' | relative_url }}?label={{ label.name | uri_escape }}">
                    #{{ label.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        <p>{{ post.description }}</p>
    </li>
{% endfor %}
</ul>
