<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Tim Pirotte</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/default_theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/minimal_theme.css' | relative_url }}">
  <script type="module" src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script type="module" src="{{ '/assets/js/window.js' | relative_url }}"></script>
  {% for script in page.scripts %}
  <script type="module" src="{{ '/assets/js/' | append: script | relative_url }}"></script>
  {% endfor %}
  <link rel="alternate" title="RSS Feed" type="application/rss+xml" href="{{ '/feed.xml' | relative_url }}">
</head>
<body>
  <div class="hide window YmFzZTY0LWlzLXBhZ2U=" id="error-window">
    <p class="or-is-there">Nothing to see here!</p>
    <button id="close-window">Ok</button>
  </div>
  <header>
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button id="toggle-theme">Minimal theme</button>
  </header>
  <div id="middle">
    <nav class="window">
      <div class="hide" id="window-icons">
        <div id="minimize"></div>
        <div id="full-screen"></div>
        <div id="close"></div>
      </div>
      <div>
        <h2>Navigation</h2>
        <ul>
          <li>
            <a href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li>
            <a href="{{ '/projects.html' | relative_url }}">Projects</a>
          </li>
          <li>
            <a href="{{ '/posts.html' | relative_url}}">Posts</a>
          </li>
          <li>
            <a href="{{ '/about.html' | relative_url }}">About</a>
          </li>
          <li>
            <a href="{{ '/resume.html' | relative_url }}">Resume</a>
          </li>
          <li>
            <a href="{{ '/contact.html' | relative_url }}">Contact</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Links</h2>
        <ul>
          <li>
            <a href="https://github.com/Tim-Pirotte">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/tim-pirotte">LinkedIn</a>
          </li>
          <li>
            <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>{{ content }}</main>
  </div>
  <footer>
    <p>Images from <a href="https://bettysgraphics.neocities.org">bettysgraphics.neocities.org</a></p>
  </footer>
</body>
</html>
