---
layout: default
---

<article id="post">
  <div class="hide" id="window-icons">
    <div id="minimize"></div>
    <div id="full-screen"></div>
    <div id="close"></div>
  </div>
  <header>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
    <h3>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </h3>
    <ul>
      {% for label in page.labels %}
      <li>
        <a href="{{ '/posts' | relative_url }}?label={{ label.name | slugify | uri_escape }}">#{{ label.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </header>
  {{ content }}
</article>
